.card{
    grid-row: span 2;
    padding: 1rem;    
} 

.card__button{
    width: 11rem;
    display: inline-block;
    // align-self: center;
    margin: 1rem;
}

.card__img{
    max-width: 6em;
    align-self: center;
}

// .card__button--reset{
//     grid-column: span 2;
// }

.card__list{
    display: flex;
    flex-direction: column;

}

.card__list--item{
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--grey); 
}