label{
  display: block;
  color: var(--dark-grey);
  padding: 0;
  font-size: 1rem;
}

input{
  display: block;
  width:90%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: solid 1px var(--grey);
  border-radius: 5px;
}


 /* radio buttons */

 .radio__group{
   display: flex; 
   align-content: center;
}


/* hide browser default buttons */
.radio__button{
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; 
}

/* use chosen icons as radio buttons */
.radio__img{
    object-fit: contain; 
}

/* hover styling */
.radio__button--img:hover {
    opacity:0.6;
    cursor: pointer;
  }
  
  /* checked styling*/
  .radio__button:checked ~ .radio__button--img {
    opacity:0.6;
  }

  @media all and (max-width: 767px){

  }