@media (prefers-reduced-motion: no-preference) {
    .head--logo {
      animation: head--logo-spin infinite 20s linear;
    }
  }

.head--logo{
  max-width: 6rem;
  max-height: 6rem;
  margin: 0 1rem;
}

.head--main{
    background-color: var(--turquoise);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head--brand{
    display: flex;
    align-items: center;
    margin: 1rem;
}


@keyframes head--logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media all and (max-width: 767px){

    .head--brand{
      display: flex;
      align-items: center;
      margin: 0.5rem;
  }

    .head--logo{
      max-width: 4rem;
      max-height: 4rem;
    }
  }