.home{
    background-color: var(--turquoise);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
    
}

.home__header{
    text-align: center ;
    font-size: 10rem;
    padding: 6rem 3rem 0 3rem;
}

.home__header--sub{
    text-align: center ;
    padding: 0 3rem 3rem 3rem;
}

.home__brand{

    max-width: 20rem ;
    max-height: 20rem;
    margin: 1rem;
    align-self: flex-end;
    margin: 2rem;
}

.home__logo{
    display: block;
    width: 100%; height: 100%;
    object-fit: contain;
}